{% extends 'base.html.twig' %}

{% block title %}
	Categories
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">{{ 'categories.title'|trans }} :
		</h1>
		{% for category in categories %}
			<div class="my-5">
				<h2>{{ loop.index }}
					/
					<a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a>
				</h2>
			</div>
		{% endfor %}
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<p class="btn btn-outline-dark">
				<a href="{{ path("category_new") }}">{{ 'categories.button_add'|trans }}</a>
			</p>
		</div>
	</div>
{% endblock %}

