{% extends 'base.html.twig' %}

{% block title %}Season
{% endblock %}

{% block body %}
	<a href="{{ path('season_index') }}" class="mb-5">Back to list</a>
	<h1 class="mt-5">SAISON
		{{ season.number }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Série</th>
				<td>
					<h6>{{ season.program.title }}</h6>
				</td>
			</tr>
			<tr>
				<th>Année</th>
				<td>{{ season.year }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ season.description }}</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-group mt-5">
		<div class="me-2 p-2 btn btn-outline-dark text-center">
			<a href="{{ path('season_edit', {'id': season.id}) }}">Edit</a>
		</div>
		<div>
			{{ include('season/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}

