{% extends 'base.html.twig' %}

{% block title %}
	Wild Series
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">TOUTES LES SERIES</h1>
		<div class="row d-flex justify-content-end m-auto">
			{{ form_start(searchForm) }}
				{{ form_row(searchForm.search) }}
				<button type="submit" class="my-4 p-2 btn btn-outline-dark text-center">Search</button>
			{{ form_end(searchForm) }}
		</div>
		{% if is_granted("ROLE_ADMIN") %}
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<p class="btn btn-outline-dark">
				<a href="{{ path("program_new") }}">Ajouter une série</a>
			</p>
		</div>
		 {% endif %}
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for program in programs %}
				<div class="col">
					<div class="card">
						<img class="card-img-top" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
						<div class="card-body">
							<h3 class="card-title">{{ loop.index }}/
								{{ program.title }}</h3>
							<p class="card-text">{{ program.summary }}</p>
							<div class="card-text mb-3">
								<small class="text-muted">Catégorie :
									{{ program.category.name }}</small>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<p class="btn btn-outline-dark">
									<a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

