{% extends 'base.html.twig' %}

{% block title %}
	Wild Series
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.summary }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
		</div>
	</div>
	<div class="media">
		<div class="media-body">
			<h1 class="mt-5">SAISON
				{{ season.number }}</h1>
			<p>Année :{{ season.year }}</p>
			<p>Catégorie :
				{{ season.description }}</p>
			<a href="#">Liste des épisodes</a>
		</div>
	</div>
    {% for episode in episodes %}
		<div class="media">
			<div class="media-body">
				<h1 class="mt-5">EPISODE {{ episode.number }}</h1>
				<p class="text-dark"> {{ episode.title }} </p>
			</div>
		</div>
	{% endfor %}

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
