{% extends 'base.html.twig' %}

{% block title %}
	Wild Series
{% endblock %}

{% block body %}
	<div class="row row-cols-3 g-1 mt-5">
		<div class="card me-5">
			<img src="{{program.poster}}" alt="{{ program.title }} poster" class="card-img-top-fluid">
			<div class="card-body">
				<h5 class="card-title">{{ program.title }}</h5>
				<p class="card-text">{{ program.summary }}</p>
				<small class="text-muted">Catégorie :
					{{ program.category.name }}</small>
			</div>
		</div>
		<div class="card">
			{% for season in seasons %}
				<div class="list-group list-group-flush">
					<h5 class="list-group-item">SAISON
						{{ season.number }}
						<p class="text-end">
							<a href="{{ path('program_season_show', { 'programId': program.id , 'seasonId': season.id }) }}">Détail</a>
						</p>
					</h5>
				</div>
			{% endfor %}
			<div class="card-body">
				<a href="{{ path('program_index') }}" class="card-link">Retour à la liste des programmes</a>
			</div>
		</div>
	</div>
{% endblock %}

