<header class="border-bottom border-dark sticky-top">
	<nav class="navbar navbar-expand bg-dark position relative">
		<div class="container justify-content-start d-flex">
			<section class="container-fluid d-flex justify-content-start flex-column s-none">
				<img src="{{ asset('build/images/Search-512.png') }}" width="25" height="25" class="ms-2" alt="search logo">
				<section class="container-fluid d-flex justify-content-start flex-row">
					<a class="navbar-brand mt-4 text-reset me-5" href="{{ path("category_index") }}">CATEGORIES</a>
					<a class="navbar-brand mt-4 text-reset me-5" href="{{ path("program_index") }}">SERIES</a>
					<a class="navbar-brand mt-4 text-reset" href="{{ path("actor_index") }}">ACTEURS</a>
				</section>
			</div>
		</section>
		<section class="container-fluid d-flex justify-content-center">
			<div class="container-fluid d-flex justify-content-center">
				<a href="/"><img src="{{ asset('build/images/LogoWS.png') }}" width="130" height="130" alt="WILD SERIES logo"></a>
			</div>
		</section>
		<section class="container-fluid d-flex justify-content-end flex-row">
			{% if app.user %}
			<a class="navbar-brand text-reset mt-5 me-5" href="{{ path('user_show_watchlist', { 'id': app.user.id })}}">WATCHLIST</a>
			{% endif %}
			{% if app.user %}
				<a class="navbar-brand text-reset mt-5" href="{{ path('user_show', { 'id': app.user.id })}}">MON COMPTE</a><a class="navbar-brand text-reset mt-5" href="{{ path("app_logout") }}">&#x274C;</a>
			{% else %}
				<a class="navbar-brand text-reset mt-5" href="{{ path("app_login") }}">CONNEXION</a>
			{% endif %}
		</section>

	</nav>
</header>

